#header
{
    margin:3%; 
}

#header
{
    background-color: white;
}

#header li
{
    font-size: 21px;
}

#header li a
{
    color:black;
}

#border
{
    border-radius: 10px;
    border: solid 1px lightgrey;
    margin-top:4%;
    margin-left: 4%;
    width:88%;
    padding-top:2%;
    padding-left:1%;
    padding-right:2%;
}

#bottom
{
    margin-left:4%;
    margin-top:2%;
}

#bottom a
{
    color:black;
}