<div id="mainContainer">
<div id="resetPasswordContainer">
      
    <img id="e-care" src="./assets/e-care.PNG" alt="e-care">  
  
    <div class="form">
      <h4 id="h4"> <div class="formHeader">RESET PASSWORD </div></h4>
      <form>  
        <div id="input">
          <span id="emailIcon" class="glyphicon glyphicon-envelope" width=50></span>
           <input name="email" [(ngModel)]="email" type="text" placeholder="Email Address" size=40 required><br>
       
          <p id="resetMessage">We will send you a new password to your email</p>
          <p>Please check your email</p>
        </div>

         <div id="submit"><a class="btn btn-primary btn-lg" (click)="logInClicked()" href="#">CONFIRM</a></div>
      </form>
    
    </div>
    </div>
  </div>
    