
ul{
    list-style-type: none;
    padding: 0;
}
.user_profile_glyph{
    font-size: 6rem;
}
#patient_profile_box{
border-radius: 2px;
border: groove 1px;
}
#patient_paginator{
 color:gray;
}
/* @media(max-width:500px){
    #patient_profile_box{
        padding-left:0rem!important;
        width:190%!important;
    }
}
@media (max-width: 575px) { 
#patients_container i{
    display:none;
}
#patients_container li{
    padding-left: 0px;
}
#patient_profile_box{
    padding-left:0rem!important;
    width:170%!important;
}
  } */

