<div *ngIf="page==='patients'" style="margin-left:3%;">

  <div class="row mt-5 ml-md-2 pb-0">
    <div class="col-10">
      <h3 class="e_care_h3">Total Patients Enrolled: {{users.length}}</h3>
    </div>
    <div class="col-md-11 text-right">
      <a routerLink="../addPatient" class="btn btn-primary btn-lg p-3 e_care_button" id="add_patient_button">Add Patient</a>
    </div>
  </div>
  <hr class="border-1 p-0">

  <div class="row">
    <div class="form-group form-inline">
      <div class="input-group ml-4">
        <input type="text" class="form-control" placeholder="Search" size="55" />
        <span class="input-group-btn"> <button class="btn btn-primary e_care_button">GO</button></span>
      </div>

      <nav class="ml-4 mt-md-5">
        <ul class="pagination" id="patient_paginator">
          <li class="page-item">
            <a class="page-link" (click)="previousClickPagination()">Previous</a>
          </li>
          <ng-container *ngFor="let user of users;let i=index;">
            <li class="page-item" *ngIf="(i+1)%5==0">
              <a class="page-link" (click)="paginationDisplayNext((i+1)/5)">{{(i+1)/5}}</a></li>
          </ng-container>
          <li class="page-item"><a class="page-link" (click)="nextClickPagination()">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="col-10 col-lg-5 mb-5 mr-5 " id="patient_profile_box" style="word-wrap: break-word;" *ngFor="let user of users | slice:fromIndex:toIndex; let i = index">

    <div class="float-left d-none d-md-block my-5">
      <span *ngIf="user.gender=='male'" class="glyphicon glyphicon-user user_profile_glyph"></span>
      <span *ngIf="user.gender=='female'" class="glyphicon glyphicon-queen user_profile_glyph"></span>
    </div>

    <div class="info col">
      <p class="d-inline ml-md-4"><strong>{{user.name}}</strong></p>
      <button mat-button [matMenuTriggerFor]="menu" id="menu-button"><span class="flaticon-settings"></span></button>

      <div id="mat-menu">
        <mat-menu #menu="matMenu">
          <button mat-menu-item type="button" (click)="getUser(user)">UPDATE</button>
          <button mat-menu-item type="button" (click)="deleteUser(user._id)" routerLink="../patients">DELETE</button>
        </mat-menu>
      </div>

      <p class="m-auto"><span class="flaticon-envelope pr-3"></span>{{user.email}}</p>
      <p class="m-auto"><span class="flaticon-heart pr-3"></span>{{user.birth}}</p>
      <p class="m-auto pb-2"><span class="flaticon-phone-call pr-3"></span>P: {{user.phone}} </p>
    </div>
  </div>
</div>

<div *ngIf="page==='updatePatients'">
  <app-update-patients [patient]="patient" [users]="users" (navigationBackToPatient)="changePage($event)"></app-update-patients>
</div>