<div class="container w-75" style="margin-left:4%">
  <div class="row mt-5">
    <div class="col-md-5 dashboard_notification mt-5 mr-md-5 align-self-center py-4" style="background-color: #00B39C"><span class="flaticon-speaker"></span>NEW PATIENT ALERTS</div>
    <div class="col-md-5 dashboard_notification mt-5 align-self-center py-4" style="background-color: #14C0D8"><span class="flaticon-chat-1"></span>NEW MESSAGES</div>
  </div>
  <div class="row mt-5">

    <h3 class="e_care_h3">Search Patient</h3>

    <div class="input-group col-md-10">
      <input type="text" class="form-control" placeholder="Last Name" />
      <span class="input-group-btn"><button class="btn btn-primary e_care_button">SEARCH</button></span>
    </div>
  </div>

  <div class="row mt-5 text-center">
    <div class="col-md-5 py-md-5 mr-md-5 mb-2 mb-md-0" id="dashboard_data_on_patients">
      <strong>
        <p>PATIENTS ENROLLED</p>
        <p>number</p>
      </strong>
    </div>
    <div class="col-md-5 py-md-5" id="dashboard_data_on_patients">
      <strong>
        <p>HIGH RISK PATIENTS</p>
        <p>number</p>
     </strong>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h4 class="e_care_h3">Patients Enrolled Per Treatment Plan</h4>
    </div>
  </div>
</div>