.dashboard_notification
{
    font-size: 2rem!important;
    font-weight: bold;
    color:white!important;
}
.dashboard_notification i:before{
    font-size: 2rem!important;
    padding-right: 19px;
    color:white!important;
}