<div id="update-patient-container">

  <h3>Total Patients Enrolled:{{users.length}}</h3>
 
  <button class="btn btn-primary" id="add-patient-update-btn">Add Patient</button>
  <hr>
  <h4>Patients</h4>
  <h5><a routerLink='../dashboard'>/home</a><a (click)="changePage('patients')">/patients/</a><b>{{patient.name}}</b></h5>
  <div id="update-patient-main-area">
    <div id="update-patient-profile">
      <img src="../../../../assets/profile_user.jpg" alt="patient image" />
      <ul>
          <li><b>{{patient.name}}</b></li>
          <li><span class="glyphicon glyphicon-envelope"></span>{{patient.email}}</li>
          <li><span class="glyphicon glyphicon-calendar"></span>{{patient.phone}}</li>
          <li><span class="glyphicon glyphicon-lock"></span>key</li>
        </ul>
    </div>
    <div id="patient-tabs">
      <md-tab-group class="demo-tab-group">
        <md-tab label="Treatment Plan">
          <div class="demo-tab-content">
            <button class="btn btn-primary" id="add-treatment-task-btn">Add Treatment Task</button>
            <div class="example-container mat-elevation-z8">
              <md-table #table [dataSource]="dataSource">
                <!-- Position Column -->
                <ng-container mdColumnDef="treatmentGroup">
                  <md-header-cell *mdHeaderCellDef> Treatment Group </md-header-cell>
                  <md-cell *mdCellDef="let user"> {{user.treatmentGroup}} </md-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container mdColumnDef="treatmentPlan">
                  <md-header-cell *mdHeaderCellDef> Treatment Plan </md-header-cell>
                  <md-cell *mdCellDef="let user"> {{user.treatmentPlan}} </md-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container mdColumnDef="dateEnrolled">
                  <md-header-cell *mdHeaderCellDef> Date Enrolled </md-header-cell>
                  <md-cell *mdCellDef="let user"> {{user.dateEnrolled}} </md-cell>
                </ng-container>

                <!-- Color Column -->
                <ng-container mdColumnDef="status">
                  <md-header-cell *mdHeaderCellDef> Status </md-header-cell>
                  <md-cell *mdCellDef="let user"> {{user.status}} </md-cell>
                </ng-container>
                <!-- Color Column -->
                <ng-container mdColumnDef="dateCompleted">
                  <md-header-cell *mdHeaderCellDef> Date Completed </md-header-cell>
                  <md-cell *mdCellDef="let user"> {{user.dateCompleted}} </md-cell>
                </ng-container>

                <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>

                <md-row *mdRowDef="let row; columns: displayedColumns;">
                  <button md-button >BUTTON</button></md-row>
                  
              </md-table>
            </div>
          </div>
        </md-tab>
        <md-tab label="Treatment Data">
          <div class="demo-tab-content">
            No Content
          </div>
        </md-tab>
        <md-tab label="Messages">
          No content
        </md-tab>
        <md-tab label="Care Providers">
          <div class="demo-tab-content">
          </div>
        </md-tab>
        <md-tab label="Tasks">
          No content
        </md-tab>
      </md-tab-group>
    </div>
  </div>
</div>