#update_patient_main_area{
    background-color: #efefef;
}
#update_patient_profile{
    background-color: white;
}
#update_patient_profile_ul{
    list-style-type: none;
    padding-left: 0;
}
/* #update-patient-container{
    overflow: hidden;
    width: 100%;   
}
#update-patient-container hr{
    clear: both;
}

#update-patient-profile{    
    width:21.5%;
    height: 100%;
    float: left;
    background-color: white;
}
#update-patient-profile li{
    list-style: none;
}
#patient-tabs{
    width:72%;
    height: 100%;
    float: right;
    background-color: white;
}
#add-treatment-task-btn{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:10px;
}
#add-patient-update-btn{    
    float: right;
    margin-bottom: 10px;
}

.btn-primary
{
    background-color: #CD1948 ;
    border:#FF0043 ;
}

#patientHeader
{
    position: relative;
    left:100px;
    width:500px;
}

#patientsHeader h3
{
    position: relative;
    width:100%;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 40px;
    float: left;
    color: black;
}

#addPatient
{
    float: right;
    padding-right:80px;
    padding-bottom:10px;
}

#addPatient button
{
    padding:8px;
    padding-left:25px;
    padding-right:25px;
}

h3, h5 a
{
    color:grey;
}

.glyphicon
{
    margin-top:5px;
    margin-bottom:5px;
    margin-right:5px;
}

#update-patient-profile span{
    margin-left:-20px;
    margin-right: 5px;
}
#add-patient-button{
    padding:10px;
} */
#update_patients_path{
color:black;
}
#update_patients_path a{
    text-decoration: none;
    color:black;
    }