<router-outlet></router-outlet>
<!-- <div *ngIf="page==='logInPage'">
        <app-log-in (resetPasswordEmitter)="changePage($event)" (homePageEmitter)="changePage($event)" (userNameEmitter)="sendUserName($event)">
        </app-log-in>
</div>
<div *ngIf="page==='passwordPage'">
        <app-password-reset [email]=u sername (logInEmitterPassword)="changePage($event)"> </app-password-reset>
</div>
<div id="homeDiv" *ngIf="page==='homePage'">
        <app-home  id="homeApp" (logInEmitterHome)="changePage($event)"></app-home>
</div> -->