<div id="messageContainer">
  <div id="searchMessage">
  <ul>
    <li><a href="">Inbox({{messages.length}})</a></li>
    <li class="line">|</li>
    <li><a href="">Archive</a></li>
    <li class="line">|</li>
    <li><a href="">Trash</a></li>
  </ul>

  <form id="searchBar" action="">
    <input type="text" name="search" placeholder=" Search Message" size="50" required>
    <button type="submit" class="btn btn-primary">SEARCH</button>
  </form>
</div>

<div id="messageTableContainer">
<table id="messageTable">
  <tr>
    <th>From</th>
    <th>Date Received</th> 
    <th>Subject</th>
    <th>Status</th>
    <th>Reply</th>
  </tr>

  <tr *ngFor="let message of messages">
    <td><input type="checkbox" name="from" value="message.from"> {{message.from}}</td>
    <td>{{message.dateReceived}}</td> 
    <td>{{message.subject}}</td>
    <td>{{message.status}}</td>
    <td><span class="	glyphicon glyphicon-envelope"></span><a href="#">{{message.reply}}</a></td>
 </tr>
</table>
</div>

<div id="bottomMenu">
    <span class="glyphicon glyphicon-download-alt"></span><a href="">Archieve</a>
    <span class="glyphicon glyphicon-trash"></span><a href="">Delete</a>
</div>

</div>
