<div class="container" id="login_container">
  <div class="row">
    <form class="m-auto" style="background-color:white;">
      <img class="img-fluid m-auto" src="./assets/e-care.PNG" alt="e-care">
      <h4 class="text-white bg-dark text-center p-5 mt-0">LOGIN TO YOUR ACCOUNT</h4>

      <div class="form-group row mt-5" style="margin-left:9%; margin-right:9%;">
        <label class="flaticon-envelope col-md-2 d-none d-md-block" for="login_email_input"></label>
        <input class="form-control col-md-10" #email type="text" name="email" placeholder="Email Address" required>
      </div>

      <div class="form-group row mb-5" style="margin-left:9%; margin-right:9%;">
        <label class="flaticon-padlock col-md-2 d-none d-md-block" for="login_password_input"></label>
        <input class="form-control col-md-10 mr-0" #password type="password" placeholder="Password" required>
      </div>

      <div class="row mx-5">
        <div class="alert alert-danger col-md-12 text-center" *ngIf="authenticated === false"><strong>{{errorMessage}}</strong></div>
      </div>

      <div class="row mb-5" style="margin-left:15%; margin-right:9%;">
        <a href="#" class="align-self-center">Forget your password?</a>
        <button class="btn btn-primary btn-lg ml-auto" (click)="logInClick()">LOGIN</button>
      </div>
    </form>
  </div>
</div>