/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
  h4{
  font-size: 2vw;
  padding:0.75rem!important;
  width:70%!important;
  }
  input{
    font-size: 1vw;
    width:65%!important;
    text-align: center;
  }
  #login_button{
    font-size: 1vw;
    padding:0.5rem!important;
  }
  #login_form{
    width:150%!important;
  }
  #login_form_container{
    width:80%!important;;
    text-align: center;
    margin: auto;
    overflow: hidden;
  }
  #login_heading{
    padding:0rem!important;
  }
  #login_email_input_row{
    margin-top:0.25rem!important;
    margin-bottom: 0rem!important;
  }
  #login_forget_password{
    margin-top:0rem!important;
    font-size: 2vw!important;
  }
  #login_forgot_password{
    margin-top:0rem!important;
  }
  h3{
    font-size: 2vw;
    padding:1rem!important;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) { 
  h4{
  font-size: 2vw;
  padding:0.75rem!important;
  }
  #login_form{
    width:150%!important;
  }
  #login_form_container{
    width:80%!important;;
    text-align: center;
    margin: auto;
    overflow: hidden;
  }
  input{
    font-size: 1vw;
  }
  button{
    font-size: 1.5vw;
    padding: 2px;
  }
  a{
    font-size: 1vw;
  }
  h3{
    font-size: 2vw;
    padding:1rem!important;
    margin:0 auto;
  }
  #login_heading{
    padding:0rem!important;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {  
  h4{
  font-size: 1vw;
  padding:1rem!important;
}
input{
  font-size: 1vw;
}
button{
  font-size: 1.5vw;
  padding: 2px;
}
a{
  font-size: 1vw;
}
h3{
  font-size: 2vw;
  padding:1rem!important;
  margin:0 auto;
}
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {  
  h4{
  font-size: 1vw;
  padding:1rem!important;
  width:50px;
}
  input{
    font-size: 1vw;
  } 
  h3{
    font-size: 1vw;
    padding:1rem!important;
    margin:0 auto;
  }
}
@media(min-width:1200px){
  h3{
    font-size: 1vw;
    padding:1rem!important;
    margin:0 auto;
  }
}

#login_spinner{
  position: absolute;
  margin: auto;
  left:25%;
  right:25%;
  top:50%;
  bottom:50%;
  z-index: 3000;
  opacity: 0.8;
}
#login_form{
  background-color: white;
}
#login_form label{
  color: rgba(107,114,116,1);
}
#login_form input,input:active,input:focus,input:hover{
  outline:0px !important;
  -webkit-appearance:none;
}

#login_email_input{
  border-top:0;
  border-right:0;
  border-left:0;
}
#login_password_input{
    border-top:0;
  border-right:0;
  border-left:0;
}
#login_heading{
  background-color: rgba(89,104,111,1);
  color:white;
}
#login_button{
  border-color: rgba(216,0,86,1);
  background-color: rgba(216,0,86,1);
}
#login_forget_password{
  font-size: 12px;
  color:rgba(216,0,86,1);
}
#login_container{
  display: block;
  position: absolute;
  background-size: cover;
  background-color: rgba(25, 40, 63, 1);
  left:0px;
  top:0px;
  bottom:0px;
  right:0px;
  min-width:100%;
  height: auto !important;
  max-height:300%;
  margin:auto;
  overflow: auto;
}
#login_form_container{
  width:60%;
  margin: auto;
  overflow: hidden;
}
