/* You can add global styles to this file, and also import other style files */
/* #body{
    background-color: rgba(25,40,63,1);
} */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html{
    
}
.e_care_button{
    border-color: rgba(216,0,86,1);
    background-color: rgba(216,0,86,1);
    color:white;
}
.e_care_h3{
    font-weight: bold;
}