/* You can add global styles to this file, and also import other style files */
/* #body{
    background-color: rgba(25,40,63,1);
} */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html{
    
}
::-webkit-scrollbar {
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}
.e_care_button{
    border-color: #D80056!important;
    background-color: #D80056!important;
    color:white;
}
.e_care_button:hover,
.e_care_button:focus,
.e_care_button:active{
    border-color: #D80056!important;
    background-color: #D80056!important;
    outline: none;
}
.e_care_h3{
    font-weight: bold;
}
.word_wrap{
    word-wrap:break-word;
}
.e_care_border
{
   border-radius: 10px;
   border: solid 1px lightgrey;
   padding-top:2%;
   padding-left:1%;
   padding-right:2%;
}