<div id="homeContainer">
  <!-- Sidebar for laptop users -->
  <ul id="sidebar" class="d-none d-md-flex nav flex-column nav-pills float-left bg-dark">
    <img id="e-care" src="./assets/e-care-home.PNG" alt="e-care">
    <div class="container">
      <li class="nav-item">
        <a class="nav-link" (click)="changeComponent('DASHBOARD')" routerLink="dashboard">
<span class="flaticon-house"></span> DASHBOARD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeComponent('PATIENTS')" routerLink="patients">
<span class="flaticon-avatar"></span>PATIENTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeComponent('MY ALERTS')" routerLink="alerts">
<span class="flaticon-star"></span>MY ALERTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-none d-lg-block" (click)="changeComponent('MY MESSAGES')" routerLink="myMessages">
<span class="flaticon-envelope"></span>MY MESSAGES</a>
        <a class="nav-link d-block d-lg-none" (click)="changeComponent('MESSAGES')" routerLink="myMessages">
<span class="flaticon-envelope"></span>MESSAGES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-none d-lg-block" (click)="changeComponent('TREATMENT ALERTS')" routerLink="treatmentAlerts">
<span class="flaticon-speaker"></span>TREATMENT ALERTS</a>
        <a class="nav-link d-block d-lg-none" (click)="changeComponent('ALERTS')" routerLink="treatmentAlerts">
<span class="flaticon-speaker"></span>ALERTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-none d-lg-block" (click)="changeComponent('TREATMENT TASKS')" routerLink="treatmentTasks">
<span class="flaticon-book"></span>TREATMENT TASKS</a>
        <a class="nav-link d-block d-lg-none" (click)="changeComponent('TASKS')" routerLink="treatmentTasks">
<span class="flaticon-book"></span>TASKS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-none d-lg-block" (click)="changeComponent('TREATMENT PLANS')" routerLink="treatmentPlans">
<span class="flaticon-heart"></span>TREATMENT PLANS</a>
        <a class="nav-link d-block d-lg-none" (click)="changeComponent('PLANS')" routerLink="treatmentPlans">
<span class="flaticon-heart"></span>PLANS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeComponent('LIBRARY')" routerLink="library">
<span class="flaticon-copy"></span>LIBRARY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-none d-lg-block" (click)="changeComponent('HEALTH RESOURCES')" routerLink="healthResources">
<span class="flaticon-glasses"></span>HEALTH RESOURCES</a>
        <a class="nav-link d-block d-lg-none" (click)="changeComponent('RESOURCES')" routerLink="healthResources">
<span class="flaticon-glasses"></span>RESOURCES</a>
      </li>
      <li class="nav-item mb-5">
        <a class="nav-lin d-none d-xl-block" (click)="changeComponent('CARE PROVIDER DIRECTORY')" routerLink="careProvider">
<span class="flaticon-phone-call"></span>CARE PROVIDER DIRECTORY</a>
        <a class="nav-link d-block d-xl-none" (click)="changeComponent('DIRECTORY')" routerLink="careProvider">
<span class="flaticon-phone-call"></span>DIRECTORY</a>
      </li>
    </div>
  </ul>
  <!-- The END of Sidebar for laptop users -->
  <!-- Togglable Topbar -->
  <nav id="topbar" class="navbar navbar-expand-md navbar-light m-auto">
    <div class="container m-auto">
      <span id="arrowLeft" class="glyphicon glyphicon-menu-left"></span>
      <a class="navbar-brand m-auto" href="#">{{component}}</a>
      <button class="navbar-toggler m-auto" data-toggle="collapse" data-target="#topNav"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="topNav">
        <ul class="navbar-nav float-right m-auto">
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link" href="#">Welcome back, {{homeUserName}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="signOut()">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--mobile menu *************************************************-->
  <ul class="d-md-none nav flex-column nav-pills float-left bg-dark mt">
    <li class="nav-item m-3">
      <a class="nav-link" (click)="changeComponent('DASHBOARD')" routerLink="dashboard">
<span class="flaticon-house"></span></a>
    </li>
    <li class="nav-item m-3">
      <a class="nav-link" (click)="changeComponent('PATIENTS')" routerLink="patients">
<span class="flaticon-avatar"></span></a>
    </li>
    <li class="nav-item m-3">
      <a class="nav-link" (click)="changeComponent('MY ALERTS')" routerLink="alerts">
<span class="flaticon-star"></span></a>
    </li>
    <li class="nav-item m-3">
      <a class="nav-link" (click)="changeComponent('MY MESSAGES')" routerLink="myMessages">
<span class="flaticon-envelope"></span></a>
    </li>
    <li class="nav-item m-3">
      <a class="nav-link" (click)="changeComponent('ALERTS')" routerLink="treatmentAlerts">
<span class="flaticon-speaker"></span></a>
    </li>
    <li class="nav-item m-3">
      <a class="nav-link" (click)="changeComponent('TASKS')" routerLink="treatmentTasks">
<span class="flaticon-book"></span></a>
    </li>
    <li class="nav-item m-3">
      <a class="nav-link" (click)="changeComponent('PLANS')" routerLink="treatmentPlans">
<span class="flaticon-heart"></span></a>
    </li>
    <li class="nav-item m-3">
      <a class="nav-link" (click)="changeComponent('LIBRARY')" routerLink="library">
<span class="flaticon-copy"></span></a>
    </li>
    <li class="nav-item m-3">
      <a class="nav-link" (click)="changeComponent('RESOURCES')" routerLink="healthResources">
<span class="flaticon-glasses"></span></a>
    </li>
    <li class="nav-item m-3">
      <a class="nav-link" (click)="changeComponent('DIRECTORY')" routerLink="careProvider">
<span class="flaticon-phone-call"></span></a>
    </li>
  </ul>
  <div class="d-inline" id="contentContainer">
    <router-outlet></router-outlet>
  </div>
</div>