<div id="homeContainer">

  <div id="sidebar">

    <img id="e-care" src="./assets/e-care-home.PNG" alt="e-care">

    <ul>
      <li><span class="glyphicon glyphicon-home"></span><a (click)="changeComponent('DASHBOARD')" routerLink="dashboard">DASHBOARD</a></li>
      <!-- <li><span class="glyphicon glyphicon-user"></span><a href="#" (click)="changeComponent('PATIENTS')">PATIENTS</a></li>-->
      <li><span class="glyphicon glyphicon-user"></span><a (click)="changeComponent('PATIENTS')" routerLink="patients">PATIENTS</a></li>
      <li><span class="glyphicon glyphicon-bell"></span><a (click)="changeComponent('MY ALERTS')" routerLink="alerts">MY ALERTS</a></li>
      <li><span class="glyphicon glyphicon-envelope"></span><a (click)="changeComponent('MY MESSAGES')" routerLink="myMessages">MY MESSAGES</a></li>
      <li><span class="glyphicon glyphicon-record"></span><a (click)="changeComponent('TREATMENT ALERTS')" routerLink="treatmentAlerts">TREATMENT ALERTS</a></li>
      <li><span class="glyphicon glyphicon-flag"></span><a (click)="changeComponent('TREATMENT TASKS')" routerLink="treatmentTasks">TREATMENT TASKS</a></li>
      <li><span class="glyphicon glyphicon-heart"></span><a (click)="changeComponent('TREATMENT PLANS')" routerLink="treatmentPlans">TREATMENT PLANS</a></li>
      <li><span class="glyphicon glyphicon-plus-sign"></span><a (click)="changeComponent('LIBRARY')" routerLink="library">LIBRARY</a></li>
      <li><span class="glyphicon glyphicon-th"></span><a (click)="changeComponent('HEALTH RESOURCES')" routerLink="healthResources">HEALTH RESOURCES</a></li>
      <li><span class="glyphicon glyphicon-list"></span><a (click)="changeComponent('CARE PROVIDER DIRECTORY')" routerLink="careProvider">CARE PROVIDER DIRECTORY</a></li>
    </ul>

  </div>

  <div id="topbar">
    <span id="arrowLeft" class="glyphicon glyphicon-menu-left"></span>
    <span id="topbar-title">{{component}}</span>
    <ul>
      <li>Welcome back, {{homeUserName}}</li>
      <li>My Account</li>
      <li>Help</li>
      <li><a href="#" (click)="signOut()">Sign Out</a></li>
    </ul>
  </div>

  <div id="contentContainer">
  <router-outlet></router-outlet>
  </div>
  <!-- <app-dashboard *ngIf="component==='DASHBOARD'"></app-dashboard> -->
  <!-- <app-patients [pageinput]="patients" hidden></app-patients>  -->
  <!-- <app-my-alerts *ngIf="component==='MY ALERTS'"></app-my-alerts> -->
  <!-- <app-my-messages *ngIf="component==='MY MESSAGES'"></app-my-messages> -->

</div>