<div id="mainContainer">
  <div id="signInContainer">

    <div class="form">
      <h4 id="h4">
        <div class="formHeader">PATIENTS </div>
      </h4>

      <form>
        <div id="input">
          <span id="emailIcon" class="glyphicon glyphicon-envelope" width=50></span>
          <input #emailInput type="text" name="email" placeholder="Email Address" size=40 required><br>

          <span id="nameIcon" class="glyphicon glyphicon-user"></span>
          <input #nameInput type="text" name="name" placeholder="Name" size=40 required><br>

          <span id="birthIcon" class="glyphicon glyphicon-globe"></span>
          <input #birthInput type="text" name="birth" placeholder="Date of Birth dd/mm/yyyy" size=40 required><br>

          <span id="phoneIcon" class="glyphicon glyphicon-phone"></span>
          <input #phoneInput type="text" name="phone" placeholder="Phone" size=40 required>
          <br>

        </div>

        <div id="submit"> <button type="button" (click)="addPatient()" routerLink="../patients" class="btn btn-primary btn-lg">ADD PATIENT</button>          </div>
      </form>

    </div>

  </div>
</div>